<div>
  <h1>条件を選択してください</h1>
  <p>選んだカテゴリーからランダムでレシピを選びます</p>
  <%= form_with url: random_category_frees_path, method: :get, local: true do |f| %>
    <h5 class="recipe-new__category">カテゴリーを選んでください</h3>
    <%= f.label "メニューカテゴリ" %>
    <%= f.select :menu1_category, Recipe.menu1_categories.keys,{prompt: "--"}, class: "recipe-new__category__select form-control" %>
  
    <%= f.label "料理ジャンル" %>
    <%= f.select :cuisine_category, Recipe.cuisine_categories.keys,{prompt: "--"}, class: "recipe-new__category__select form-control" %>
 
    <%= f.label "フリーカテゴリ" %>
    <%= f.select :name, @all_categories.pluck(:name), include_blank: true, class: "recipe-new__category__select form-control" %>

    <div class="recipe-new__btn" >
      <%= f.submit "検索する" ,class: "btn btn-orange" %>
    </div>
  <% end %>
</div>


<div class="random">
  <% if @result.blank? %>
    <p>レシピが無いか選択がされていません</p>
  <% else %>
    <%= link_to "#{@result.recipe.title}", recipe_path(@result.recipe), class: "random__link" %>
    <p>はいかがですか？</p>
    <%= button_tag "もう一度", id: "something", class: "btn btn-orange", value: "reload" %>
  <% end %>
</div>