<div class="recipe-new">
  <%= form_with(model: @recipe, local: true) do |f| %>
    <%= f.label :title, "料理名(必須)", class: "recipe-new__label" %>
    <%= f.text_field :title, class: "form-control", placeholder: "料理名を入力してください" %>

    <h5 class="recipe-new__category">カテゴリーを決めてください</h3>
    <%= f.label "メニューカテゴリ１(必須)" %>
    <%= f.select :menu1_category, Recipe.menu1_categories.keys,{prompt: "--"}, class: "recipe-new__category__select form-control" %>
 
    <%= f.label "メニューカテゴリ２(任意)" %>
    <%= f.select :menu2_category, Recipe.menu2_categories.keys,{prompt: "--"}, class: "recipe-new__category__select form-control" %>
 
    <%= f.label "料理ジャンル(必須)" %>
    <%= f.select :cuisine_category, Recipe.cuisine_categories.keys,{prompt: "--"}, class: "recipe-new__category__select form-control" %>
 
    <%= fields_for :category, @category do |c| %>
      <%= c.label "オリジナルのタグをつけられます(任意)" %>
        <div class="recipe-new__category__tags">
          <%= c.text_field :name, name: "category[name][]", class: "form-control", placeholder: "タグを入力してください", class: "recipe-new__category__tags__text" %>
          <%= c.text_field :name, name: "category[name][]", class: "form-control", placeholder: "タグを入力してください", class: "recipe-new__category__tags__text" %>
          <%= c.text_field :name, name: "category[name][]", class: "form-control", placeholder: "タグを入力してください", class: "recipe-new__category__tags__text" %>
        </div>
    <% end %>

    <div class="recipe-new__btn" >
      <%= f.submit "作り方を書く" ,class: "btn btn-orange" %>
    </div>
  <% end %>
</div>